@model Bank_ATM.Models.WithdrawalData
@{
    ViewData["Title"] = "AfterWithdrawal";
}

<div>
    <h4>Please collect cash!</h4>
    <p>@Html.Raw(@Model.msg)</p>
</div>

@{
    Person person = new Person();
    person.id = Model.id;
}

<div> 
    <a  href= "@Url.Action("ATMView", "Home", person)">
            Back to Menu
        </a>
 
</div>
