
@{
    ViewData["Title"] = "UnlockAccount";
}

<div class ='text-center'>
    <h4>Unlock your Account</h4>
    <p>
        Please enter following details to unlock your account
    </p>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UnlockAccount">
        @Html.Raw(ViewBag.msg)
        <table>
            <tr>
                <td>Account Number: </td>
                <td><input type="number" id="intCardNumber" name="person.accountNumber" required/></td>
            </tr>
            <tr>
                <td>Card Number: </td>
                <td><input type="number" id="intCardNumber" name="person.cardNumber" required/></td>
            </tr>
            <tr>
                <td>Pin Number: </td>
                <td><input type="password" id="pinNumber" name="person.pinNumber" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
         </table>
    </form>
</div>

<div>
    <a  href= "@Url.Action("Index", "Home")">
            Return to Login
    </a>
 
</div>
